#root,
.app-content {
    display: flex;
    flex-flow: column;
    height: 100%;
    flex-grow: 1;
}

.employee-container{
    max-width: 1400px;
    margin: 15px auto;
}


.ant-menu-root{
    text-align: center;
}
